.app-header-div {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 5px 50px;
  margin: 0;
  background-color: rgb(136, 25, 187);
  color: white;
  display: flex;
  align-items: center;
  z-index: 2;
}

.app-header {
  font-size: 20px;
  cursor: pointer;
}
.app-header-options {
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
  cursor: pointer;
}
