* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  html,body {
    background: linear-gradient(rgb(69, 202, 255), rgb(182, 85, 177, 0.6), rgba(192, 31, 192, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .content-div {
    min-height: 100vh;
  }
  